<!DOCTYPE html>
<html lang="en" ng-app="ngostDemoApp" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>A Set of common and useful extensions to AngularJS</title>
    <meta name="description" content="A Set of common and useful extensions to AngularJS. Widgets: Blank Data, Pretty Date, String Format, Truncate, Us Phone Number, ">
    <!--<meta name="google-site-verification" content="7lc5HyceLDqpV_6oNHteYFfxDJH7-S3DwnJKtNUKcRg" />-->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-touch.min.js"></script>
    <script src="assets/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="assets/plunker.js"></script>
    <script src="ng-ost-0.1.0.js"></script>
    <script src="assets/app.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>
    <link rel="author" href="https://github.com/ebertsch/Angular-Ally/graphs/contributors">
</head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">Angular Ally</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        ng-ost
                    </a>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle">
                            Extensions <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#filters.blankData">Blank Data</a></li><li><a href="#filters.prettyDate">Pretty Date</a></li><li><a href="#filters.stringFormat">String Format</a></li><li><a href="#filters.truncate">Truncate</a></li><li><a href="#filters.usPhoneNumber">Us Phone Number</a></li>
                        </ul>
                    </li>
                    <li><a href="#getting_started">Getting started</a></li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                    <li><a href="#Eextensions_small" ng-click="isCollapsed = !isCollapsed">Extensions</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                ng-ost
            </h1>

            <p>Common and useful <a href="http://angularjs.org">AngularJS</a> filters, directives, services, factories and modules</p>

            <p>
                <a class="btn btn-outline-inverse btn-lg" href="https://github.com/OSTUSA/ng-ost"><i class="icon-github"></i>Code on Github</a>
                <a class="btn btn-outline-inverse btn-lg" ng-click="showDownloadModal()">
                    <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.1.0)</small>
                </a>
            </p>
        </div>
        <div class="bs-social container">
            <ul class="bs-social-buttons">
                <li>
                    <iframe src="http://ghbtns.com/github-btn.html?user=ostusa&repo=ng-ost&type=watch&count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>
                <li>
                    <iframe src="http://ghbtns.com/github-btn.html?user=ostusa&repo=ng-ost&type=fork&count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="bs-sidebar visible-xs" id="extensions_small">
                    <ul class="nav bs-sidenav">
                        <li><a href="#"><strong>Directives</strong></a></li>
                        
                        <li><a href="#filters.blankData">Blank Data</a></li>
                        
                        <li><a href="#filters.prettyDate">Pretty Date</a></li>
                        
                        <li><a href="#filters.stringFormat">String Format</a></li>
                        
                        <li><a href="#filters.truncate">Truncate</a></li>
                        
                        <li><a href="#filters.usPhoneNumber">Us Phone Number</a></li>
                        
                    </ul>
                </section>

                <section id="getting_started">
                    <div class="page-header">
                        <h1>Getting started</h1>
                    </div>
                    <h3>Dependencies</h3>
                    <p>
                        This repository contains a set of <strong>native AngularJS extensions</strong>. The <strong>only required dependencies</strong> are:
                    </p>
                    <ul>
                        <li><a href="http://angularjs.org" target="_blank">AngularJS</a> (requires AngularJS 1.2.x, tested with 1.2.10)</li>
                        <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a> (tested with version 3.0.3).
                            This version of the library (0.1.0) works only with Bootstrap in version 3.x.
                        </li>
                    </ul>
                    <h3>Files to download</h3>
                    <p>
                        Build files for all extensions are distributed in several flavours: minified for production usage, un-minified
                        for development. All the options are described and can be
                        <a href="https://github.com/ebertsch/Angular-Ally/tree/gh-pages">downloaded from here</a>.
                    </p>

                    <h3>Installation</h3>
                    <p>As soon as you've got all the files downloaded and included in your page you just need to declare
                        a dependency on the <code>ngost</code> <a href="http://docs.angularjs.org/guide/module">module</a>:<br>
                    <pre><code>angular.module('myModule', ['ngost']);</code></pre>
                    </p>

                </section>
                
                <section id="filters.blankData">
                    <div class="page-header">
                        <h1>Blank Data<small>
                            (<a target="_blank" href="https://github.com/ebertsch/Angular-Ally/tree/master/src/filters.blankData">ngost.filters.blankData</a>)
                        </small></h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 show-grid">
                            <table class="table table-bordered" ng-controller="blankDataDemoCtrl">
    <tr>
        <td>Value 1</td>
        <td class="text-right">Value 2</td>
    </tr>
    <tr>
        <td>{{data.value1 | blankData}}</td>
        <td class="text-right">{{data.value2 | blankData}}</td>
    </tr>
    <tr>
        <td>{{data.value1 | blankData:"N/A"}}</td>
        <td class="text-right">{{data.value2 | blankData:"N/A"}}</td>
    </tr>
</table>
                        </div>
                        <div class="col-md-6">
                            <p>This is used to provide default values when a value is not present.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row code">
                        <div class="col-md-12" ng-controller="PlunkerCtrl">
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.0.3', '0.1.0', 'filters.blankData')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>-->
                            <!--</div>-->
                            <tabset>
                                <tab heading="Markup">
                                    <div plunker-content="markup">
                                        <pre ng-non-bindable><code data-language="html">&lt;table class=&quot;table table-bordered&quot; ng-controller=&quot;blankDataDemoCtrl&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;Value 1&lt;/td&gt;
        &lt;td class=&quot;text-right&quot;&gt;Value 2&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.value1 | blankData}}&lt;/td&gt;
        &lt;td class=&quot;text-right&quot;&gt;{{data.value2 | blankData}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.value1 | blankData:&quot;N/A&quot;}}&lt;/td&gt;
        &lt;td class=&quot;text-right&quot;&gt;{{data.value2 | blankData:&quot;N/A&quot;}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
                                    </div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div plunker-content="javascript">
                                        <pre ng-non-bindable><code data-language="javascript">function blankDataDemoCtrl($scope) {
    $scope.data = {
        &#x27;value1&#x27;:&#x27;Value 1 String&#x27;
    };
}
</code></pre>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </section>
                <script>function blankDataDemoCtrl($scope) {
    $scope.data = {
        'value1':'Value 1 String'
    };
}
</script>
                
                <section id="filters.prettyDate">
                    <div class="page-header">
                        <h1>Pretty Date<small>
                            (<a target="_blank" href="https://github.com/ebertsch/Angular-Ally/tree/master/src/filters.prettyDate">ngost.filters.prettyDate</a>)
                        </small></h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 show-grid">
                            <table class="table table-bordered" ng-controller="prettyDateDemoCtrl">
    <tr>
        <td>{{data.NewDate | prettyDate}}</td>
    </tr>
</table>
                        </div>
                        <div class="col-md-6">
                            <p>Used to provide pretty dates to users based up a UTC Date Time</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row code">
                        <div class="col-md-12" ng-controller="PlunkerCtrl">
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.0.3', '0.1.0', 'filters.prettyDate')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>-->
                            <!--</div>-->
                            <tabset>
                                <tab heading="Markup">
                                    <div plunker-content="markup">
                                        <pre ng-non-bindable><code data-language="html">&lt;table class=&quot;table table-bordered&quot; ng-controller=&quot;prettyDateDemoCtrl&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.NewDate | prettyDate}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
                                    </div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div plunker-content="javascript">
                                        <pre ng-non-bindable><code data-language="javascript">function prettyDateDemoCtrl($scope) {
    $scope.data = {
        &#x27;NewDate&#x27;:(new Date()).setDate(-2)
    };
}
</code></pre>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </section>
                <script>function prettyDateDemoCtrl($scope) {
    $scope.data = {
        'NewDate':(new Date()).setDate(-2)
    };
}
</script>
                
                <section id="filters.stringFormat">
                    <div class="page-header">
                        <h1>String Format<small>
                            (<a target="_blank" href="https://github.com/ebertsch/Angular-Ally/tree/master/src/filters.stringFormat">ngost.filters.stringFormat</a>)
                        </small></h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 show-grid">
                            <table class="table table-bordered" ng-controller="stringFormatDemoCtrl">
    <tr>
        <td>{{data.message}}</td>
    </tr>
    <tr>
        <td>{{data.message | stringFormat:'quick':'brown'}}</td>
    </tr>
    <tr>
        <td>{{data.message | stringFormat:'slow':'green'}}</td>
    </tr>
</table>
                        </div>
                        <div class="col-md-6">
                            <p>Used to provide a quick alternative to string format on the client side in tempaltes</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row code">
                        <div class="col-md-12" ng-controller="PlunkerCtrl">
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.0.3', '0.1.0', 'filters.stringFormat')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>-->
                            <!--</div>-->
                            <tabset>
                                <tab heading="Markup">
                                    <div plunker-content="markup">
                                        <pre ng-non-bindable><code data-language="html">&lt;table class=&quot;table table-bordered&quot; ng-controller=&quot;stringFormatDemoCtrl&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.message}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.message | stringFormat:&#x27;quick&#x27;:&#x27;brown&#x27;}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.message | stringFormat:&#x27;slow&#x27;:&#x27;green&#x27;}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
                                    </div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div plunker-content="javascript">
                                        <pre ng-non-bindable><code data-language="javascript">function stringFormatDemoCtrl($scope) {
    $scope.data = {
        &#x27;message&#x27;: &#x27;The {0} {1} fox jumped over the lazy log&#x27;
    };
}
</code></pre>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </section>
                <script>function stringFormatDemoCtrl($scope) {
    $scope.data = {
        'message': 'The {0} {1} fox jumped over the lazy log'
    };
}
</script>
                
                <section id="filters.truncate">
                    <div class="page-header">
                        <h1>Truncate<small>
                            (<a target="_blank" href="https://github.com/ebertsch/Angular-Ally/tree/master/src/filters.truncate">ngost.filters.truncate</a>)
                        </small></h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 show-grid">
                            <table class="table table-bordered" ng-controller="truncateDemoCtrl">
    <tr>
        <td>{{data.message}}</td>
    </tr>
    <tr>
        <td>{{data.message | truncate}}</td>
    </tr>
</table>
                        </div>
                        <div class="col-md-6">
                            <p>Used to truncate a string to a specified length</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row code">
                        <div class="col-md-12" ng-controller="PlunkerCtrl">
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.0.3', '0.1.0', 'filters.truncate')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>-->
                            <!--</div>-->
                            <tabset>
                                <tab heading="Markup">
                                    <div plunker-content="markup">
                                        <pre ng-non-bindable><code data-language="html">&lt;table class=&quot;table table-bordered&quot; ng-controller=&quot;truncateDemoCtrl&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.message}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.message | truncate}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
                                    </div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div plunker-content="javascript">
                                        <pre ng-non-bindable><code data-language="javascript">function truncateDemoCtrl($scope) {
    $scope.data = {
        &#x27;message&#x27;: &#x27;The quick brown fox jumped over the lazy log&#x27;
    };
}
</code></pre>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </section>
                <script>function truncateDemoCtrl($scope) {
    $scope.data = {
        'message': 'The quick brown fox jumped over the lazy log'
    };
}
</script>
                
                <section id="filters.usPhoneNumber">
                    <div class="page-header">
                        <h1>Us Phone Number<small>
                            (<a target="_blank" href="https://github.com/ebertsch/Angular-Ally/tree/master/src/filters.usPhoneNumber">ngost.filters.usPhoneNumber</a>)
                        </small></h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 show-grid">
                            <table class="table table-bordered" ng-controller="usPhoneNumberDemoCtrl">
    <tr>
        <td>{{data.value1}}</td>
    </tr>
    <tr>
        <td>{{data.value1 | usPhoneNumber}}</td>
    </tr>
</table>
                        </div>
                        <div class="col-md-6">
                            <p>Used to output a string or number into an acceptable Us Phone Number
1(555)123-4567</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row code">
                        <div class="col-md-12" ng-controller="PlunkerCtrl">
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.0.3', '0.1.0', 'filters.usPhoneNumber')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>-->
                            <!--</div>-->
                            <tabset>
                                <tab heading="Markup">
                                    <div plunker-content="markup">
                                        <pre ng-non-bindable><code data-language="html">&lt;table class=&quot;table table-bordered&quot; ng-controller=&quot;usPhoneNumberDemoCtrl&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.value1}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;{{data.value1 | usPhoneNumber}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</code></pre>
                                    </div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div plunker-content="javascript">
                                        <pre ng-non-bindable><code data-language="javascript">function usPhoneNumberDemoCtrl($scope) {
    $scope.data = {
        &#x27;value1&#x27;: &#x27;5551234567&#x27;
    };
}
</code></pre>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </section>
                <script>function usPhoneNumberDemoCtrl($scope) {
    $scope.data = {
        'value1': '5551234567'
    };
}
</script>
                
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main -->
<footer class="footer">
    <div class="container">
        <p>Designed and built by <a href="https://github.com/ebertsch" target="_blank">Ezra Bertsch</a> and <a href="https://github.com/ebertsch/Angular-Ally/graphs/contributors" target="_blank">contributors</a>.</p>
        <p>Code licensed under <a href="https://github.com/ebertsch/Angular-Ally/master/LICENSE"> License</a>.</p>
    </div>
</footer>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
<script type="text/ng-template" id="downloadModal.html">
    <div class="modal-header"><h4 class="modal-title">Download Angular Ally</h4></div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label"><strong>Build</strong></label>
                <div class="col-sm-9">
              <span class="btn-group">
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="true">Minified</button>
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="false">Uncompressed</button>
              </span>
                    <small class="help-block">Use <b>Minified</b> version in your deployed application. <b>Uncompressed</b> source code is useful only for debugging and development purpose.</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">Close</a>
        <a class="btn btn-primary" ng-href="{{download('0.1.0')}}" download><i class="glyphicon glyphicon-download-alt"></i> Download 0.1.0</a>
    </div>
</script>

<!--<script type="text/javascript">-->

    <!--var _gaq = _gaq || [];-->
    <!--_gaq.push(['_setAccount', 'UA-37467169-1']);-->
    <!--_gaq.push(['_trackPageview']);-->

    <!--(function() {-->
        <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
        <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
        <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
    <!--})();-->

<!--</script>-->
<script src="assets/smoothscroll-angular-custom.js"></script>
</body>
</html>